# Auto detect text files and perform LF normalization
* text=auto

*.php diff=php eol=lf
*.htm diff=html eol=lf
*.html diff=html eol=lf
*.css eol=lf
*.js eol=lf
*.sql eol=lf
*.txt eol=lf

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
*.ppt  diff=astextplain
