@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-checkmark, .icon-clock, .icon-list, .icon-close, .icon-floppy, .icon-plus, .icon-minus, .icon-pencil, .icon-lock, .icon-unlocked {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-checkmark:before {
	content: "\2713";
}
.icon-clock:before {
	content: "\2610";
}
.icon-list:before {
	content: "\25a4";
}
.icon-close:before {
	content: "\78";
}
.icon-floppy:before {
	content: "\21";
}
.icon-plus:before {
	content: "\22";
}
.icon-minus:before {
	content: "\23";
}
.icon-pencil:before {
	content: "\24";
}
.icon-lock:before {
	content: "\25";
}
.icon-unlocked:before {
	content: "\26";
}
