@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-plus:before, .icon-minus:before, .icon-checkmark:before, .icon-x:before, .icon-file-pdf:before, .icon-file-word:before, .icon-file-excel:before, .icon-play:before, .icon-first:before, .icon-last:before, .icon-arrow-right:before, .icon-arrow-left:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-plus:before {
	content: "\21";
}
.icon-minus:before {
	content: "\22";
}
.icon-checkmark:before {
	content: "\23";
}
.icon-x:before {
	content: "\24";
}
.icon-file-pdf:before {
	content: "\27";
}
.icon-file-word:before {
	content: "\28";
}
.icon-file-excel:before {
	content: "\29";
}
.icon-play:before {
	content: "\e10a";
}
.icon-first:before {
	content: "\e000";
}
.icon-last:before {
	content: "\e001";
}
.icon-arrow-right:before {
	content: "\e002";
}
.icon-arrow-left:before {
	content: "\e003";
}
