/*全局*/
html,body,div,span,p,a,img,ul,li,form,label{
	margin:0;padding:0;border:0;
}
/*让IE8和以前的浏览器识别html5标签*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{
	display:block;
}
input[type="text"],input[type="password"],select,textarea{
	box-sizing: border-box;
}
h1,h2,h3{
	font-weight:normal;
}
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#333;
}
a:hover{
	text-decoration:underline;
}
a:visited{
	color:#666;
}
table {
	border-collapse:separate;border-spacing:0;
}
caption, th, td {
	text-align:left;font-weight:normal;
}
table, td, th {
	vertical-align:middle;
}
.left{
	float:left;
}
.right{
	float:right;
}
.placeholder{
	color:#888;
}
.hidden,.disabled{
	display:none;
}
.shadow{
	box-shadow:-2px 2px 5px rgba(0,0,0,0.5);
}
.pre-line{
	white-space:pre-line;
}
header .throbber{
	width:21px;
	position:absolute;
	top:2px;left:2px
}
.date{
	width:110px;
}
.field{
	padding:3px 5px;
	margin-bottom:1px;
	text-align:left;
	background:#FFF;
	border-bottom:#999 1px solid;
}
button.transparent{
	background:transparent;
	border:none;
}
button.hover{
	display:none;
	position:absolute;
}
dl.horizontal>dt, dl.horizontal>table{
	display:inline-block;
	vertical-align:top;
}
dl.horizontal>table{
	margin-top:1em;
}
dl.horizontal th{
	text-align: right;
	font-weight: bold;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y:scroll;
}
.ui-dialog{
	padding:0;
}
aside .select2-container{
	margin-bottom: 5px;
}
.select2-container .select2-choice{
	font-size:0.8em;
	height: 20px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	line-height: 1.5;
}
.select2-container .select2-choice div{
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.select2-container .select2-choice div b, .select2-dropdown-open .select2-choice div b{
	background-position-y: 10%;
}
.select2-container .select2-choice abbr{
	top:20%;
}
.select2-search-choice-close{
	top:3px;
}
/*主页面列表中的多选标签（用于标签）无右边距（用于显示“x”）*/
article .contentTable .select2-container-multi .select2-choices .select2-search-choice{
	padding-left:5px;
}

article .contentTable .select2-container-multi .select2-choices{
	border:none;
}

body{
	font-family:'Microsoft Yahei';
	font-size:13px;
	line-height:1.5;
	overflow:hidden;
}
input,select,textarea,button{
	font-family:'Microsoft Yahei','arial';
}

button,input:submit{
	background-color: #FFF;
}

/*框架*/
body{
	background:#CEDDEC;
}

article>section{
	position:absolute;left:120px;top:25px;right:245px;;bottom:0;
	box-shadow: -2px 0 5px #000;
	overflow-x:auto;
	overflow-y:auto;
	border:0;
	background:transparent;
}
article section .contentTableBox{
	min-width:800px;
}
nav{
	/*导航菜单框架*/
	position:absolute;left:0;top:25px;bottom:0;
	width:120px;
	background:#113C68;
	overflow-x:hidden;
	overflow-y:auto;
}

/*弹出提示框*/
.message{
	position:fixed;right:25px;z-index:1000;
	margin:auto;
	min-height:20px;max-width:700px;
	text-align:center;
	box-shadow:0 2px 5px #000;
	padding:10px;
	cursor: default;
}
.warning, warning a{
	background:#F88;color:#800;
}
.notice, .notice a{
	background:#8FF;color:#088;
}

/*menu*/
header{
	position:relative;z-index:5;
	height:25px;
	background:#113C68;
	box-shadow: 0 2px 5px #000;
}
#topMenu{
	position:absolute;right:0;
}
#topMenu a{
	margin:auto 5px auto 5px;
	color:#FFF;
}
#topMenu>#message>.new-messages{
	font-weight:bold;
}
#topMenu>#message:hover{
	text-decoration: none;
}
header,nav{
	font-weight:normal;
}
nav a:focus{
	outline:none;
}
nav li{
	cursor:pointer;
}
nav li .arrow{
	cursor:default;
}
nav [level="0"] li.activated{
	background-color:#091F35;
}
nav [level="0"] .arrow{
	padding:0 5px 0 10px;
}
nav [level="0"] a{
	color:#FFF;
	font-size:1.3em;
	line-height:3;
}
nav>ul[level="0"]>li>a.dink{
	margin-left:27px;
}
nav [level="1"]{
	display:none;
}
nav [level="1"] li{
	background-color: #113C68;
	padding-left: 23px;
	font-style: italic;
	font-size: 0.7em;
	color: #999;
}
nav [level="1"] a{
	color:#EEE;
	font-weight:normal;
	font-size:15px;
	line-height:2;
	margin-left:5px;
}
nav a:hover{
	text-decoration:none;
}
nav .arrow{
	color:#FFF;
	font-size:10px;
	margin-right:5px;
}

#tabs{
	position:absolute;
	left:25px;
}
#tabs li{
	float:left;
	padding:0 7px;
	height:25px;
}
#tabs li .icon-close{
	color:#FFF;font-size:10px;
	cursor: default;
}
#tabs a{
	font-size:15px;
	color:#DDD;
}
#tabs li.activated{
	background-color:#091F35;
}
#tabs li.activated a{
	color:#FFF;
}
#tabs li a:hover{
	text-decoration:none;
}

/*login*/
.login-form{
	width:300px;
	padding-top:20%;
	margin:auto;
	text-align:center;
}
.login-form .item input{
	font-size:18px;
}
.login-form .submit button{
	width:120px;
	height:35px;
	font-size:18px;
}

.schedule-form .ui-dialog-content{
	text-align:center;
	padding:0;
	min-height:0;
	height:inherit;
	overflow: hidden;
}
.schedule-form .ui-dialog-content,.schedule-form .ui-dialog-content input,.schedule-form .ui-dialog-content select,.schedule-form .ui-dialog-content textarea{
	line-height:1.5;
}
.schedule-form>.ui-dialog-content>.select2-container{
	margin-bottom:5px;
}
.schedule-form .ui-dialog-buttonpane{
	padding:0;
	margin:0;
}

/*内容表*/
.pagination button{
	margin:0;
}
.contentTableMenu{
	position:fixed;top:0;right:240px;z-index:6;
	color:#FFF;
}
.contentTableFoot{
	margin-top:10px;
	text-align:center;
}
.contentTableBox{
	width:99.9%;
}
.contentTable{
	position:relative;z-index:0;
	width:100%;table-layout:fixed;
	border-left:1px solid #69C;
	word-wrap:break-word;
}
.contentTable thead{
	background:#69C;
	color:#FFF;
	font-size:15px;
}
.contentTable thead th{
	padding:2px 7px;
}
.contentTable thead a{
	color:#FFF;
	font-size:17px;
}
.contentTable tbody .oddLine{
	background:#EEF;
}
.contentTable tbody tr{
	background:#FFF;
}
.contentTable tbody tr[hash]{
	cursor:pointer;
}
.contentTable tbody tr.highlighted{
	background:#FFFFE8;
}
.contentTable tbody td{
	border-right:1px solid #69C;
	border-bottom:1px solid #69C;
}
.contentTable tbody a{
	color:#173C66;
}
.contentTable tbody a:visited{
	color:#666;
}
.contentTable tbody td{
	padding:6px 7px;
}
article .contentTable td input[type="text"], article .contentTable td textarea{
	width:99%;
}
.contentTable td .rank{
	color:#888;
	font-size:13px;
	padding-left:5px;
}

.ellipsis{
	word-wrap:normal;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

/*schedule_list*/
.hours_checked{
	color:#066;
}

/*右侧工具栏*/
aside>section{
	position:absolute;right:0;top:25px;bottom:0;
	width:240px;
	overflow-x: hidden;
	overflow-y: auto;
}
aside.minimized{
	max-width:100px;
	min-width:0;
	height: 29px;
	overflow: hidden;
}
aside .minimize-button,aside .maximize-button{
    position: absolute;
    right: 20px;
    z-index: 1;
    font-size: 18px;
    color: #FFF;
}
aside .contentTable{
	margin-bottom:10px;
}
aside .contentTable.search-bar{
	background-color:transparent;
	border:0;
}
aside .contentTable.search-bar tbody tr{
	visibility:visible;
	background-color:transparent;
}
aside .contentTable.search-bar tbody td{
	background-color:transparent;
	border:0;
	padding:0;
}
aside input[type=text]{
	font-size:13px;
	width:99%;
	padding: 4px;
	margin: 1px 0;
}
aside textarea{
	width:99%;
	padding:5px;
	margin: 1px 0;
	border:#AAA solid 1px;
}
aside select, aside .chosen{
	width:99%;
	padding:0;
}
aside .contentTable.search-bar tbody td.submit{
	text-align:right;
}
aside button.major{
	width:240px;
	font-size:16px;
	margin-top:5px;
}

/*插入界面*/
section>form>.item{
	/*font-size:17px;*/
	margin-bottom:10px;
	text-align:left;
}
section>form>.item input[type="text"],
section>form>.item input[type="password"],
section>form>.item textarea,
section>form>.item select{
	/*font-size:15px;*/
}

section>form>.item input{
	margin:0 auto;
}
section>form>.item textarea{
	width:100%;
}
section>form>.item .large-field{
	display:block;
	width:100%;
	font-size:18px;
	margin-bottom:5px;
}
section>form>.item .title{
	padding-left:1em;
	padding-right:1em;
	background:url("../images/bg_main.png");
	color:#173C66;
	font-size:15px;
	line-height:2;
	min-height:30px;
}
section>form>.item .content{
	background:#FFF;
	border:#999 solid 1px;
	padding:5px;
}
section>form>.item p{
	margin-bottom:0.5em;
	text-indent:2em;
}
section>form>.submit{
	text-align:center;
}
.add-form>*{
	vertical-align: middle;
}

/*任务块*/
.column { width: 170px; float: left; padding-bottom: 100px; }
.portlet { margin: 0 1em 1em 0; }
.portlet.todo .portlet-header{border:#E35B00; background:#E35B00;}
.portlet.todo.expired .portlet-header{border:#555; background:#555;}
.portlet-header { padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; white-space: pre-line;}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

/*消息模块*/
.message-dialog-list-item, .message-content-list-item{
	background-color:rgba(255,255,255,0.4);
	padding:15px;
}
.message-dialog-list-item{
	cursor:pointer;
}
.message-dialog-list-item.unread, .message-content-list-item.unread{
	font-weight:bold;
}

.message-dialog-list-item>.title, .message-content-list-item>title{
	float:left;
	width:80px;height:60px;
	font-size:1.2em;
	color:#007;
}