/*全局*/
html,body,div,span,h1,h2,h3,p,a,img,ul,li,form,label{
	margin:0;padding:0;border:0;
}
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#333;
}
a:hover{
	text-decoration:underline;
}
a:visited{
	color:#666;
}
table {
	border-collapse:separate;border-spacing:0;
}
caption, th, td {
	text-align:left;font-weight:normal;
}
table, td, th {
	vertical-align:middle;
}
.left{
	float:left;
}
.right{
	float:right;
}
.placeholder{
	color:#888;
}
.ui-autocomplete {
	max-height: 200px;
	overflow-y:scroll;
}
body,input,select,button,textarea{
	font-family:"Microsoft Yahei","SimSun";
	font-size:13px;
	line-height:1.5;
}

/*框架*/
#contentFrame{
	position:absolute;left:120px;top:0;
	box-shadow: -2px 0 5px #000;
}
body#nav{
	/*导航菜单框架*/
	background:#113C68;
	overflow-x:hidden;
}
body#content{
	background:#CEDDEC;	

	/*ie主框架内滚动条着色*/
	scrollbar-arrow-color: #CEDDEC;
	scrollbar-face-color: #BCD7DF;
	scrollbar-3dlight-color: #CEDDEC;
	scrollbar-highlight-color: #CEDDEC;
	scrollbar-shadow-color: #CEDDEC;
	scrollbar-darkshadow-color: #CEDDEC;
	scrollbar-track-color: #CEDDEC;
	scrollbar-base-color:#CEDDEC;
}
/*ie滚动条*/
html#nav{
	scrollbar-arrow-color: #CEDDEC;
	scrollbar-face-color: #0D2D4B;
	scrollbar-3dlight-color: #0D2D4B;
	scrollbar-highlight-color: #0D2D4B;
	scrollbar-shadow-color: #0D2D4B;
	scrollbar-darkshadow-color: #0D2D4B;
	scrollbar-track-color: #113C68;
	scrollbar-base-color:#0D2D4B;
}
html#content{
	scrollbar-arrow-color: #CEDDEC;
	scrollbar-face-color: #113C68;
	scrollbar-3dlight-color: #113C68;
	scrollbar-highlight-color: #113C68;
	scrollbar-shadow-color: #113C68;
	scrollbar-darkshadow-color: #113C68;
	scrollbar-track-color: #CEDDEC;
	scrollbar-base-color:#113C68;
}
/*webkit滚动条*/
::-webkit-scrollbar{
	/*全局滚动条*/
	background:transparent;
	width:11px;
}
::-webkit-scrollbar-thumb{
	/*全局滚动条滑块*/
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.5);
	background:#BCD7DF;
}
body#nav::-webkit-scrollbar{
	/*导航菜单框架滚动条*/
	width:0;
}
body#content::-webkit-scrollbar{
	/*内容框架滚动条*/
	background:#CEDDEC;
}
body#content::-webkit-scrollbar-thumb{
	/*内容框架滚动条滑块*/
	background:#113C68;
}

/*弹出提示框*/
.message{
	position:fixed;right:25px;z-index:20;
	margin:auto;
	min-height:20px;max-width:700px;
	text-align:center;
	box-shadow:0 2px 5px #000;
	padding:10px;
}
.warning, warning a{
	background:#F88;color:#800;
}
.notice, .notice a{
	background:#8FF;color:#088;
}

/*menu*/
#topBar{
	position:fixed;top:0;width:100%;height:25px;z-index:10;
	text-align:right;color:#FFF;
	background:#113C68;
	box-shadow: 0 2px 5px #000;
}
#topMenu a{
	margin:auto 5px auto 5px;
	color:#FFF;
	font-size:15px;
	line-height:1.5;
}
#topBar,#navMenu{
	font-weight:normal;
}
#navMenu{
	padding-top:40px;
}
#navMenu a:focus{
	outline:none;
}
#navMenu .l0 li.activated{
	background-color:#091F35;
}
#navMenu .l0 .arrow{
	padding:0 5px 0 10px;
}
#navMenu .l0 a{
	color:#FFF;
	font-size:17px;
	line-height:3;
}
#navMenu .l0 a.controller.dink{
	margin-left:22px;
}
#navMenu .l1{
	display:none;
}
#navMenu .l1 li{
	background-color: #113C68;
	padding-left: 20px;
}
#navMenu .l1 a{
	color:#EEE;
	font-weight:normal;
	font-size:15px;
	line-height:2;
	margin-left:5px;
}
/*login*/
#loginForm{
	margin:20% auto;
	text-align:right;
	width:200px;
}
#loginForm .item input{
	font-size:18px;
	width:100%;
}
#loginForm .submit input{
	width:70px;
	height:35px;
	font-size:18px;
}

/*内容表*/
.contentTableMenu{
	position:fixed;width:79%;left:0;top:0;z-index:15;
	min-width:900px;
	color:#FFF;
}
.contentTableFoot{
	margin-top:10px;
	text-align:center;
}
.contentTableBox{
	position:absolute;top:25px;left:0;width:79%;z-index:0;
	min-width:900px;
}
.contentTable{
	position:relative;z-index:0;
	width:100%;table-layout:fixed;
	border-left:1px solid #69C;
	word-wrap:break-word;
	font-size:14px;
}
.contentTable thead{
	background:#69C;
	color:#FFF;
	font-size:17px;
}
.contentTable thead td{
	padding:2px 7px;
}
.contentTable thead a{
	color:#FFF;
	font-size:17px;
}
.contentTable tbody .oddLine{
	background:#EEF;
}
.contentTable tbody tr{
	background:#FFF;
	visibility:hidden;
	visibility:visible\9;
}
.contentTable tbody td{
	border-right:1px solid #69C;
	border-bottom:1px solid #69C;
}
.contentTable tbody a{
	color:#173C66;
}
.contentTable tbody a:visited{
	color:#666;
}
.contentTable tbody td{
	padding:6px 7px;
}
.contentTable td input[type=text]{
	width:99%;
}
.contentTable td .rank{
	color:#888;
	font-size:13px;
	padding-left:5px;
}

.ellipsis{
	word-wrap:normal;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

/*schedule_list*/
.hours_checked{
	color:#066;
}

/*右侧工具栏*/
#toolBar{
	position:fixed;right:0;top:25px;z-index:1;
	width:20%;
	min-width:240px;
	text-align:right;
}
#toolBar.minimized{
	max-width:100px;
	min-width:0;
	height: 29px;
	overflow: hidden;
}
#toolBar .minimize-button,#toolBar .maximize-button{
    position: absolute;
    right: 20px;
    z-index: 1;
    font-size: 18px;
    color: #FFF;
}
#toolBar ul{
	text-align:left;
	font-size:20px;
	line-height:30px;
	margin-top:30px;
}
#toolBar ul li{
	list-style-type:disc;
}
#toolBar select{
	width:100%;
	font-size:17px;
}
#toolBar .contentTable{
	margin-bottom:10px;
}
#toolBar .contentTable.search-bar{
	background-color:transparent;
	border:0;
}
#toolBar .contentTable.search-bar tbody tr{
	visibility:visible;
	background-color:transparent;
}
#toolBar .contentTable.search-bar tbody td{
	background-color:transparent;
	border:0;
	text-align:right;
	padding:0;
}

/*插入界面*/
.contentTable .item{
	font-size:17px;
	margin-bottom:10px;
	text-align:left;
}
.contentTable .item .field{
	padding:3px 5px;
	margin-bottom:1px;
	background:#FFF;
	border:#999 1px solid;
}
.contentTable .item input[type=text],
.contentTable .item input[type=password],
.contentTable .item textarea,
.contentTable .item select{
	width:99.6%;
	font-size:17px;
}
.contentTable .item .title{
	padding-left:1em;
	background:url("../images/bg_main.png");
	color:#173C66;
	font-size:15px;
	line-height:2;
}
.contentTable .item .content{
	background:#FFF;
	border:#999 solid 1px;
	padding:5px;
}
.contentTable .item p{
	margin-bottom:0.5em;
	text-indent:2em;
}
.contentTable .submit{
	text-align:center;
}
.autocomplete-no-result-menu{
	display:none;
}