<? javascript('query_add')?>
<form method="post">
	<div class="contentTableMenu">
		<div class="right">
			<input type="submit" name="submit[query]" value="保存" />
			<input type="submit" name="submit[cancel]" value="取消" />
		</div>
	</div>
	<div class="contentTableBox">
		<div class="contentTable">
	
			<div class="item">
				<div class="title"><label>咨询人：</label></div>
				
				<input type="text" name="query[date_start]" value="<? displayPost('query/date_start')?>" title="首次接待时间" class="date right" style="width:11%" />
				<input type="text" name="query[querier]" value="<? displayPost('query/querier')?>" autocomplete="client" style="width:75%" />
				<select name="query[type]" style="width:11%">
					<? displayOption(array('_ENUM','query','type'),post('query/type'))?>
				</select>
			</div>
	
			<div class="item">
				<div class="title"><label>来源：</label></div>
				<select name="source[type]" style="width:33%">
					<? displayOption(array('_ENUM','client_source','type'),post('source/type'))?>
				</select>
				<input type="text" name="source[detail]" value="<? displayPost('source/detail') ?>" disabled="disabled" placeholder="具体来源" style="width:32%;display:none" />
				<input type="text" name="query_extra[source_lawyer_name]" value="<? displayPost('query_extra/source_lawyer_name') ?>" title="来源律师" placeholder="来源律师" style="width:33%" />
			</div>
	
			<div class="item">
				<div class="title"><label>联系方式：</label></div>
				<input type="text" name="query[email]" value="<? displayPost('query/email'); ?>" title="电子邮件" placeholder="电子邮件" class="right" style="width:49%" />
				<input type="text" name="query[phone]" value="<? displayPost('query/phone'); ?>" title="电话" placeholder="电话" style="width:50%" />
			</div>
	
			<div class="item">
				<div class="title"><label>跟进人员：</label></div>
	
				<label>合伙人：<input type="text" name="query_staff[partner_name]" value="<? displayPost('query_staff/partner_name')?>" style="width:24%" /></label>
	
				<label>律师：<input type="text" name="query_staff[lawyer_name]" value="<? displayPost('query_staff/lawyer_name')?>" style="width:24%" /></label>
	
				<label>协办：<input type="text" name="query_staff[assistant_name]" value="<? displayPost('query_staff/assistant_name')?>" style="width:24%" /></label>
	
			</div>
			
			<div class="item">
				<div class="title"><label>概况：</label></div>
				<textarea name="query[summary]" rows="7"><? displayPost('query/summary'); ?></textarea>
			</div>
	
			<div class="item">
				<div class="title"><label>报价：</label></div>
				<input type="text" name="query[quote]" value="<? displayPost('query/quote');?>" />
			</div>
			
			<div class="item">
				<div class="title"><label>备注：</label></div>
				<textarea name="query[comment]"><? displayPost('query/comment'); ?></textarea>
			</div>
	
			<div class="submit">
				<input type="submit" name="submit[query]" value="保存" />
				<input type="submit" name="submit[cancel]" value="取消" />
			</div>
		</div>
	</div>
</form>